<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/css/flat-ui.css" rel="stylesheet">
    <style type="text/css">
      .demo-panel-title {
        margin-bottom: 20px;
        padding-top: 20px;
      }
      .pt{margin-right:1px}
      .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

    </style>
    <title>客户确认</title>
</head>
<body>
<div class="row" style="margin-top:20%">
    <div class="col-sm-6 col-md-4 col-center-block">
            <center><h1><span class="label label-success">成功</span></h1></center>
    </div>
</div>
</body>
</html>