<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dist/css/flat-ui.css" rel="stylesheet">
    <style type="text/css">
      .demo-panel-title {
        margin-bottom: 20px;
        padding-top: 20px;
      }
      .pt{margin-right:1px}
      .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }

    </style>
    <title>客户确认</title>
</head>
<body>
<div class="row" style="margin-top:20%">
    <div class="col-sm-6 col-md-4 col-center-block">
            <a class="thumbnail col-xs-8 col-sm-6 col-center-block" href="#">
                <img src="{{company.avatar}}">
            </a>
            <div class="row" style="font-size:14px;margin-top:14px;margin-bottom:14px;">
                <div class="caption col-xs-8 col-sm-6 col-center-block">
                    <div>{{company.name}}</div>
                    <div>
                        <small><span class="label label-danger pt">认</span><span class="label label-warning  pt">金</span>50000元 <span class="label label-success  pt">客</span>272个
                            <span
                                    class="label label-primary pt">套</span>285套
                        </small>
                    </div>
                    <div style="font-size:12px;color:#bbbbbb"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{company.remark}}</div>
                    <div>
                        <small><input type="checkbox">请该公司联系我</small>
                    </div>

                </div>
            </div>
            <a href="http://10.5.216.83:5000/api/cst/cfd/{{ccid}}" class="btn btn-primary btn-block btn-large">确 定</a>
    </div>
</div>
</body>
</html>