{% extends 'admin/master.html' %}
{% block page_body %}
<style type="text/css" xmlns="http://www.w3.org/1999/html">
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="row-fluid">
    <div class="container">

      <form class="form-signin" method="POST" action="">
          {{ form.hidden_tag() if form.hidden_tag }}
        <h2 class="form-signin-heading">登录</h2>
        <label for="login" class="sr-only">登录名</label>
        <input type="text" id="login" name="login" class="form-control" required autofocus>
          {% if form.login.errors %}
                {% for e in form.login.errors %}
                <span class="label label-danger">{{ e }}</span>
                {% endfor %}
          {% endif %}
          <br/>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
       {% if form.password.errors %}
                {% for e in form.password.errors %}
                <span class="label label-danger">{{ e }}</span>
                {% endfor %}
       {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
      </form>

    </div> <!-- /container -->

    {{ link | safe }}

 </div>

</div>
{% endblock page_body %}
