{% extends 'admin/master.html' %}
{% block body %}

{% if status == "success" %}
   <div class="alert alert-success .alert-dismissible" style="text-align: center" role="alert"> 密码修改成功 </div>
{% endif %}


<div class="modal fade" id="modifypassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel2">修改密码 </h4>
          {% if status == "error" %}
          <div class="alert alert-danger fade in" role="alert">
              {% for err in errors %}
                {{err}}
              {% endfor %}
          </div>
          {% endif %}
      </div>
        <form id="modifypassword-form" method="POST" action="/admin/usermodifypassword/modify/" onsubmit="return dosubmit(this);">
        <div class="row" style="padding-left: 20px;">
          <div class="modal-body col-lg-11">
              <div class="form-group">
                <label for="login" class="control-label">登录名:</label>
                  <input type="hidden" name="mid" id="mid" value="{{mid}}">
                <input type="text" tabindex="1" class="form-control" name="login" id="login" data-toggle="tooltip" data-placement="top" title="用户名不能为空" value="{{login}}" readonly>
              </div>
              <div class="form-group">
                  <label for="opassword" class="control-label">原密码:</label>
                  <input type="password" tabindex="3" class="form-control" name="opassword" id="opassword" data-toggle="tooltip" data-placement="top" title="原密码不能为空" value="{{opassword}}">
              </div>
              <div class="form-group">
                  <label for="mpassword" class="control-label">新密码:</label>
                  <input type="password" tabindex="3" class="form-control" name="mpassword" id="mpassword" data-toggle="tooltip" data-placement="top" title="新密码不能为空" value="{{mpassword}}">
              </div>
              <div class="form-group">
                  <label for="rempassword" class="control-label">确认密码:</label>
                  <input type="password" tabindex="4" class="form-control" name="rempassword" id="rempassword" data-toggle="tooltip" data-placement="top" title="确认新密码不一致" value="{{rempassword}}">
              </div>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary" >提交</button>
      </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
{% block tail_js %}
{{super()}}
<script type="text/javascript">
    {% if status == "error" or not status %}
       $(function(){
          $("#modifypassword").modal();
       });
    {% endif %}

    function dosubmit(oform){
        var has_error = false;
        var opassword = $.trim(oform.opassword.value);
        if(opassword == ""){
            $(oform.opassword).tooltip("show");
            has_error = true;
        }
        var mpassword = $.trim(oform.mpassword.value);
        if(mpassword == ""){
            $(oform.mpassword).tooltip("show");
            has_error = true;
        }

        var rempassword = $.trim(oform.rempassword.value);
        if(rempassword != mpassword){
            $(oform.rempassword).tooltip("show");
            has_error = true;
        }

        return !has_error;
    }

</script>

{% endblock %}
